NODE_ENV=development
PORT=3001
WEB_ORIGIN=http://localhost:3000
PUBLIC_API_URL=http://localhost:3001
MEDIA_STORAGE_PATH=./media
ADMIN_COOKIE_SECURE=false
IMPORTS_ENABLED=false
EVENTFINDA_USERNAME=
EVENTFINDA_PASSWORD=

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=tron_loop
DB_PASSWORD=tron_loop_dev
DB_DATABASE=the_tron_loop
